<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar side-nav">
        <li class="active"><a href=<%="/dashboard/#{@scan.id}"%>>Summary</a></li>
        <li><a href=<%="/dashboard/#{@scan.id}/analytics"%>>Analytics</a></li>
        <li><a href=<%="/dashboard/#{@scan.id}/locations"%>>Locations</a></li>
        <li><a href="#">Exports</a></li>
      </ul>
    </div>
  </div>
  <%= yield %>
</div>